.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#dceeee;
  border-color: dodgerblue;
  border-style: inset;
  border-width: 2px;
  height: 40px;
}

a { 
  color:black;
  text-decoration: none;
  font-size: 30px;
}

a.selected {
  color: grey;
}


a:hover { 
  text-decoration: underline;
  color:blue; 
}
form {
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  line-height: 125%;
}

input {
  border-width: 2px;
  font-size: 20px;
}

input[type=number] {
  width: 50px;
}

button[type=submit] {
  background-color: #dddddd;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  border-radius: 5px;
}

button:hover {
  text-decoration:underline;
  box-shadow:  0px 0px 10px grey;
}

button:active {
  background-color: darkblue;
  color: white;
}

.list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.list.airport {
  justify-content: center;
}

.list.string {
  text-align: left;
}

.card {
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  font-size: 23px;
  width: 490px;
  border-style: solid;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 8px;
  padding: 0% 10px;
  text-align: center;
}

.card:hover {
  background-color: #f5f5f5;
  box-shadow:  0px 0px 20px 1px grey;
}

ul {
  text-align: left;
}

